
.terraform.lock.hcl 
terraform.tfstate
terraform.tfstate*

IAC/sonarQube/.terraform.tfstate.lock.info
IAC/sonarQube/.terraform/
IAC/sonarQube/.terraform.lock.hcl
IAC/sonarQube/terraform.tfstate
IAC/sonarQube/terrafor.tfstate*


IAC/jenkins/.terraform.tfstate.lock.info
IAC/jenkins/.terraform/
IAC/jenkins/.terraform.lock.hcl
IAC/jenkins/terraform.tfstate
IAC/jenkins/terrafor.tfstate*

